<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- Ruska1 -->
		<add key="Ruska1_Port" value="COM5"/>
		<add key="Ruska1_Baud" value="9600"/>
		<add key="Ruska1_Parity" value="None"/>
		<add key="Ruska1_DataBits" value="8"/>
		<add key="Ruska1_StopBits" value="One"/>
		<add key="Ruska1_Handshake" value="None"/>

		<!-- Ruska2 -->
		<add key="Ruska2_Port" value="COM6"/>
		<add key="Ruska2_Baud" value="19200"/>
		<add key="Ruska2_Parity" value="Even"/>
		<add key="Ruska2_DataBits" value="7"/>
		<add key="Ruska2_StopBits" value="One"/>
		<add key="Ruska2_Handshake" value="RequestToSend"/>

		<!-- ALMEMO -->
		<add key="ALMEMO_Port" value="COM1"/>
		<add key="ALMEMO_Baud" value="9600"/>
		<add key="ALMEMO_Parity" value="None"/>
		<add key="ALMEMO_DataBits" value="8"/>
		<add key="ALMEMO_StopBits" value="One"/>
		<add key="ALMEMO_Handshake" value="None"/>

	</appSettings>

</configuration>
